button.btn-submit{
  background-color: #38547b;
  color: #fff;
  width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
  background-color: #38547b;
}

input.ng-invalid.ng-dirty{
  border-bottom-color : #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}

/*for error div i*/
div.error-message i{
  vertical-align: middle !important;
}

/*for tab control*/
.tabs{
  height: 65px;
}
.tabs .tab{
  text-transform : none !important;
  line-height: 65px;
  height: 65px;
}
.tabs .tab a{
  font-size: 25px;
  color: grey !important;
}

.tabs .tab a.active{
  background-color: #fff !important;
}
aside{
  /*margin-left: 900px;
  */
  width: 250px;
  position: absolute;
  top: 60px;
  bottom: 30px;
  right: 0px;
}
video{
  margin-left: 250px;
  margin-right: 150px;
}
/*section{
  width: 400px;
  position: absolute;
}
*/
.scroll {
  width: 100px;
  height: 20px;
  background: #44A0CE;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.scroll:hover {
  width: 300px;
}
